.bg-footer {
    background-color: $prime-1;
    padding-top: 20px;
    padding-bottom: 45px;
}
div.row-footer {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center; 
}

.row-footer li {
    text-transform: uppercase;
    display: inline-block;
}
nav.footer-list {
    justify-self: end;
    grid-column-start: 6;
    grid-column-end: 13;
}
div.row-footer img{
    cursor: pointer;
    float: left;
}
div.row-footer h1 {
    grid-column: span 4;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -30px;
}
div.row-footer span.logo-p {
    color: $pr-1-light-2;
}
div.row-footer h1 a {
    @include heading($font-GabrLo,39px,$wight);
    
}
nav.footer-list a {
    @include heading($font-medium,12px,$wight);
    // display: inline-block;
   margin-left: 25px;
}
nav.footer-list a:hover {
    color: $pr-2-light-1;
}

// 
div.row-footer-list {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border-top: 1px solid $pr-1-light-1;
    border-bottom: 1px solid $pr-1-light-1;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 55px;
}
div.row-footer-list section:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
div.row-footer-list section:nth-of-type(2) {
    grid-column-start: 4;
    grid-column-end: 6;
}
div.row-footer-list section:nth-of-type(3) {
    grid-column-start: 7;
    grid-column-end: 9;
}
div.row-footer-list section:nth-of-type(4) {
    grid-column-start: 10;
    grid-column-end: 12;
}

div.row-footer-list h4 {
    @include heading($font-medium,16px,$wight);
    letter-spacing: 1px;
    margin-bottom: 30px;
}
div.row-footer-list a {
    @include heading($font-regular,13px,$pr-1-light-3);
}

// 
div.row-info {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
}
div.row-info section p,
div.row-info section a  {
    @include heading($font-medium,13px,$pr-1-light-3);
}
div.row-info .text-strong {
    font-weight: bold;
}

div.row-info .fa-facebook-f,
div.row-info .fa-twitter,
div.row-info .fa-pinterest-p,
div.row-info .fa-google-plus-g{
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
div.row-info .fa-facebook-f:hover,
div.row-info .fa-twitter:hover,
div.row-info .fa-pinterest-p:hover,
div.row-info .fa-google-plus-g:hover {
    color: $pr-2-light-1;
    border-color: $pr-2-light-1;
}

div.row-info section p:nth-of-type(1) {
    margin-bottom: 0;
    margin-top: 0;
}
div.row-info section p:nth-of-type(2) {
    margin-top: 5px;
    margin-bottom: 0;
}

div.row-info section:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 4;
}

div.row-info section:nth-of-type(2) {
    grid-column-start: 5;
    grid-column-end: 7;
}

div.row-info section:nth-of-type(3) {
    display: flex;
    align-items: center;
    grid-column-start: 8;
    grid-column-end: 10;
}
div.row-info .fa-phone {
    margin-right: 20px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    color: $prime-1;
    font-size: 18px;
    line-height: 35px;
}

div.row-info section:nth-of-type(4) {
    display: flex;
    align-items: center;
    grid-column-start: 11;
    grid-column-end: 13;
}
div.row-info .fa-envelope-open {
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
    background-color: #fff;
    color: $prime-1;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: -35px;
    cursor: pointer;
}


// Adaptation footer

// lg
@media (max-width:1024px) {
    div.row-footer h1 {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 5;
        margin-left: -25px;
    }
    nav.footer-list a{
        margin-left: 15px;
    }
    nav.footer-list {
        // grid-row-start: 1;
        grid-column-start: 5;

    }
    div.row-info section:nth-of-type(2) .fa-facebook-f{
        margin-left: -30px;
    }
    
    // div.row-info section:nth-of-type(2) {
        // grid-column-start: 5;
        // grid-column-end: 7;
        // display: grid;
        // grid-template-columns: repeat(2,1fr);
        // justify-items: center;
        // grid-gap: 15px;
    // }
    // div.row-info section:nth-of-type(2) .fa-facebook-f {
    //     justify-self: end;
    // }
    // div.row-info section:nth-of-type(2) .fa-pinterest-p {
    //     justify-self: end;
    // }
    div.row-info .fa-envelope-open {
        margin-left: -67px;
    }
}

// table
@media (max-width:950px) and (min-width:340px) {
    nav.footer-list a{
        font-size: 11px;
        margin-left: 5px;
    }
 
    nav.footer-list {
        grid-column-start: 5;
    }
    div.row-footer-list {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    div.row-footer-list {
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 15px;
    }
    div.row-footer-list section:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    div.row-footer-list section:nth-of-type(2) {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    div.row-footer-list section:nth-of-type(3) {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    div.row-footer-list section:nth-of-type(4) {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    // 
    div.row-info {
        padding-top: 30px;
    }
    div.row-info .fa-phone,
    div.row-info .fa-envelope-open {
        display: none;
    }
    
    div.row-info .fa-facebook-f,
    div.row-info .fa-twitter,
    div.row-info .fa-pinterest-p,
    div.row-info .fa-google-plus-g{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    div.row-info section:nth-of-type(2) .fa-facebook-f {
        margin-left: 0px;
    }
    div.row-info section:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    div.row-info section:nth-of-type(2) {
        grid-column-start: 5;
        grid-column-end: 8;
        // justify-self: end;
    }

    div.row-info section:nth-of-type(4) {
        grid-column-start: 10;
    }
    div.row-info section p {
        font-size: 11px;
    }
}

// mobile
@media (max-width:340px) {
    .bg-footer {
        padding-bottom: 25px;
    }
    div.row-footer {
        display: none;
    }
    div.row-footer-list {
        display: none;
    }
    div.row-info {
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-row-gap: 20px;
    }
    div.row-info .fa-phone {
        display: none;
    }
    div.row-info .fa-envelope-open {
        display: none;
    }
    div.row-info section:nth-of-type(1) {
        grid-column-start: 1px;
        grid-row-start: 4;
    }
    div.row-info section:nth-of-type(2) {
        margin-left: 37px;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
    }
    div.row-info section:nth-of-type(3) {
        display: block;
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    div.row-info section:nth-of-type(4) {
        display: block;
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    div.row-info section p:nth-of-type(2) {
        margin-top: 0;
    }
    div.row-info section p {
        font-size: 11px;
    }
}

