
.bg-top-header {
    background-color: #03a9f4;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
}
.container {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
}
.row img {
    float: left;
}
.bg-top-header h1 {
    margin: 0;
    grid-column: span 4;
    font-size: 39px;
    margin-left: -40px;
    margin-top: -7px;
    // margin-bottom: -30px;
    
    /* border: 1px solid #03a9f4; */
}
span.logo-color{
    font-family: 'Poppins-Light';
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ecfa4d;
}
span.qweq {
    display: block;
    font-family: 'Open Sans-regular';
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    font-size: 13px;
    margin-top: -25px;
}
.bg-top-header nav {
    grid-column-start: 6;
    grid-column-end: 10;
}
.top-button {
    grid-column-start: 10;
    grid-column-end: 13;
}

.bg-top-header li {
    /* float: left; */
    display: inline-block;
}

.bg-top-header h1 a {
    font-family: 'Gabriola-logo';
    font-size: 39px;
}

.bg-top-header a {
    /* display: inline-block; */
    font-family: 'Open Sans-regular';
    color: #fff;
    margin-right: 35px;
}


.bg-top-header .img-a {
    margin-right: 0;
}
.top-button button {
    font-family: 'Poppins-bold';
    font-size: 12px;
    text-transform: uppercase;
    // background-color: #3d648d;
    // border: 1px solid #3d648d;
    // color: #fff;
    // width: 100px;
    // height: 40px;
    // margin-left: 10px;
    @include buttons($pr-1-dark-1, #fff, 100px, 40px, $pr-1-dark-1,3px, 30px)
}

.top-button .but-2 {
    @include buttons($prime-2, #fff, 100px, 40px, $prime-2,3px, 30px)

}