.bg-top-main {
    padding-top: 95px;
    padding-bottom: 90px;
}
.bg-top-main figure {
    margin: 0;
    width: 515px;
    height: 415px;
    background-color: $pr-1-light-3;
    display: grid;
    justify-items: center;
    align-items: end;
    // float: left;
}
section.welcom {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    // grid-template-columns: 500px 1fr;
    justify-items: center;
}
section.welcom h5 {
    @include heading($font-regular,15px,$prime-1);
    margin-top: 0;
    margin-bottom: 20px;
}
section.welcom h2 {
    @include heading($font-bold,37px,$pr-4-dark-3);
    line-height: 45px;
    margin-top: 20px;
}
section.welcom p {
    @include heading($font-regular,14px,$pr-4-dark-1);
    // @include heading($font-OpS-Regular,14px,$pr-4-dark-1);
    // line-height: 16px;
}
section.welcom div {
    // align-content: start;
    margin-top: -17px;
}

// Adaptation TOP

// lg
@media (max-width:1024px) {
    .bg-top-main figure {
        height: 470px;
    }
    section.welcom div {
        padding-left: 15px;
    }
    section.welcom h2 {
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 20px;
    }
}
// table
@media (max-width:950px) and (min-width:340px) {
    .bg-top-main {
        padding-bottom: 50px;
    }
    section.welcom {
        grid-template-columns: 350px auto;
    }
    .bg-top-main figure {
        width: 349px;
        height: 536px;
    }
}
// mobile
@media (max-width:340px) {
    .bg-top-main {
        padding-bottom: 45px;
        background-color: $pr-1-light-3;
    }
    section.welcom figure {
        display: none;
    }
    section.welcom div {
        padding-left: 0;
    }
    section.welcom {
        display: block;
    }
    section.welcom h5 {
        font-size: 11px;
    }
    section.welcom h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    section.welcom p {
        font-size: 13px;
    }
}

// MIDDLE
.bg-middle-main {
    padding-top: 55px;
    padding-bottom: 90px;
    // background: $prime-1 url(../img/bg-transparent.png) no-repeat center;
    background-color: $prime-1 ;
    background-image: url(../img/bg-transparent.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1860px;
}
.bg-middle-main h5 {
    @include heading($font-regular,15px,$pr-1-light-2);
    text-align: center;
    margin-top: 0;
}
.bg-middle-main h2 {
    @include heading($font-medium,33px,$wight);
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}
section.services-block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.services-block article {
    display: grid;
    justify-items: center;
    padding: 40px 45px 45px;
    text-align: center;
    background-color: #fff;
}

.services-block h3 {
    @include heading($font-medium,17px,$pr-4-dark-3);
    margin-top: 25px;
    margin-bottom: 0px;
}
.services-block p {
    @include heading($font-medium,14px,$pr-4-dark-1);
    margin-top: 10px;
    margin-bottom: 0;
}

div.order{
    margin-top: 55px;
    text-align: center;
}
.order button {
    cursor: pointer;
    @include buttons($pr-1-dark-1, #fff, 280px, 50px, $pr-1-dark-1,3px, 40px);
    @include heading($font-medium,14px,$wight);
}





// mobile 
section.mobile-panel {
    display: none;
}

section.mobile-panel button:nth-child(1),
section.mobile-panel button:nth-child(3),
section.mobile-panel button:nth-child(5) {
    border-radius: 5px;
    border: 1px solid $prime-2;
    margin-bottom: 10px;
}

.accordion {
    @include heading($font-medium,21px,#fff);
    background-color: $pr-2-light-1;
    line-height: 20px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    // border-radius: 3px;
    text-align: center;
    outline: none;
    transition: 0.5s;
  }
  
  .active, .accordion:hover {
    background-color: $prime-2; 
  }
  
  .panel p{
    @include heading($font-medium,14px,$pr-4-light-3);
    text-align: center;
    margin-bottom: 0;
  }
  .panel {
    padding: 14px 18px;
    display: none;
    background-color: rgba(255, 255, 255,.2);
    overflow: hidden;
  }
  .panel div {
    display: flex;
    justify-content: center;
  }
// 


// Adaptation MIDDLE

// lg
@media (max-width:1024px) {
    .bg-middle-main {
        background-position: unset;
        background-size: cover;
    }
}

// table
@media (max-width:950px) and (min-width:340px) {
    .bg-middle-main {
        background-position: unset;
        background-size: cover;
    }
    section.services-block {
        grid-column-gap: 7px;
    }
}

// mobile
@media (max-width:340px) {
    .bg-middle-main {
        padding-top: 30px;
        padding-bottom: 45px;
        background-position: unset;
        background-size: cover;
    }
    .bg-middle-main h5 {
        font-size: 11px;
    }
    .bg-middle-main h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    section.services-block{
        display: none;
    }
    section.mobile-panel {
        display: block;
    }
    .sprite-Vector1,
    .sprite-Vector2,
    .sprite-Vector3 {
        zoom: .75;
    }

}

// BOTTOM
.bg-bottom-main {
    padding-top: 80px;
    padding-bottom: 95px;
}
.bg-bottom-main h5 {
    @include heading($font-regular,15px,$prime-1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}
.bg-bottom-main h2 {
    @include heading($font-medium,33px,$pr-4-dark-2);
    text-align: center;


    margin-bottom: 50px;
}

section.step-procedure {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.step-procedure div i{
    margin: 0 auto;
}
.step-procedure article {
    position: relative;
}
.line-border {
    position: absolute;
    top: -6px;
}
.step-procedure h3 {
    @include heading($font-semiBold,17px,$pr-4-dark-3);
    text-align: center;
    margin-top: 30px;
}
.step-procedure p {
    @include heading($font-regular,13px,$pr-4-dark-1);
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}


// Adaptation BOTTOM

// table
@media (max-width:950px) and (min-width:340px) {
    .bg-bottom-main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    section.step-procedure {
        grid-template-columns: repeat(2,1fr);
    }
    .step-procedure p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 35px;
    }
    img.line-2 {
        display: none;
    }
    .line-1 {
        top: 23px;
    }
    .line-3 {
        top: 30px;
    }
}

// mobile
@media (max-width:340px) {
    .bg-bottom-main {
        padding-top: 30px;
        padding-bottom: 45px;
    }
    .bg-bottom-main h5 {
        font-size: 11px;
    }
    .bg-bottom-main h2 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .step-procedure h3 {
        margin-top: 10px;
    }
    
    section.step-procedure {
        grid-template-columns: 1fr;
    }
    .step-procedure p {
        // padding-left: 20px;
        // padding-right: 20px;
        margin-bottom: 10x;
        padding: 0;
    }
    .sprite-Step1,
    .sprite-Step2,
    .sprite-Step3,
    .sprite-Step4 {
        zoom: 0.75;
    }
   section.step-procedure article div {
    margin-top: 20px;
   }
    .line-1 {
        transform: rotate(90deg);
        top: -88px;
        right: 137px;
    }
}


// Program_main
.main-program {
    padding-top: 55px;

    // padding-bottom: 90px;
    padding-bottom: 265px;

    background-color: $prime-1;
    background-image: url(../img/cloud-bg.png),url(../img/cloud_1.png),url(../img/cloud_2.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom,  30px 45px, right 10px top 45px;
    position: relative;
}
div.main-program img.rocket {
    position: absolute;
    top: 165px;
    left: 40px;
}

div.text-center {
    text-align: center;
}
div.text-center h5 {
    @include heading($font-regular,15px,$pr-1-light-2);
    margin-top: 0;
}
div.text-center h2 {
    @include heading($font-medium,33px,$wight);
}
div.text-center p {
    @include heading($font-medium,20px,$pr-1-light-3);
    margin-bottom: 80px;
}
section.block-program {
    // max-width: 950px;
    // margin-left: auto;
    // margin-right: auto;
    display: grid;
    grid-template-columns: 58.5% 41.5%;
    box-shadow: 0px 5px 6px -3px #aeacac;

    // position: relative;
    // top: 222px;
    position: absolute;
    top: -18px;
}
div.section-center {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

// wight
article.block-wight {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    padding: 50px 40px;
}

article.block-wight div:nth-child(1) {
    padding: 20px 80px 35px 60px;
    border-right: 1px solid $pr-4-light-2;
    border-bottom: 1px solid $pr-4-light-2;
}
article.block-wight div:nth-child(2) {
    padding: 20px 60px 35px 80px;
    border-bottom: 1px solid $pr-4-light-2;
}
article.block-wight div:nth-child(3) {
    padding: 35px 80px 20px 60px;
    border-right: 1px solid $pr-4-light-2;
}
article.block-wight div:nth-child(4) {
    padding: 35px 60px 20px 80px;
}
article.block-wight p:nth-child(1) {
    @include heading($font-bold,35px,$prime-2);
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 40px;
    text-align: center;
}
article.block-wight p:nth-child(2){
    @include heading($font-regular,14px,$pr-4-light-1);
    text-align: center;
    margin-bottom: 0;
}
article.block-wight p:nth-child(3) {
    @include heading($font-semiBold,17px,$prime-1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

// blue
article.block-blue {
    background-color: $prime-1;
    padding: 20px 25px;
}
div.div-border h3 {
    text-transform: uppercase;
    text-align: center;
    @include heading($font-semiBold,25px,$wight);
    margin-top: 0;
}
div.div-border p {
    @include heading($font-italik,18px,$wight);
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
}
div.div-border span {
    font-size: 20px;
}
div.div-border {
    padding:30px 30px 40px;
    border: dashed 2px $pr-1-dark-1;
    border-radius: 20px;
    position: relative;
}
div.div-border img{
    position: absolute;
    bottom: -2px;
    right: -56px;
}

div.div-border-2 {
    padding: 25px 80px;
    text-align: center;
    background-color: $pr-1-dark-1;
    border: dashed 2px $wight;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
div.div-border-2 img:nth-of-type(1) {
    position: absolute;
    top: -15px;
    left: -10px;
}
div.div-border-2 img:nth-of-type(2) {
    position: absolute;
    top: -15px;
    right: -10px;
}
div.div-border-2 span {
    @include heading($font-medium,24px,$wight);
    position: relative;
    right: 50px;
}
div.div-border-2 p:nth-of-type(1) {
    @include heading($font-semiBold,61px,$prime-3);
    line-height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
div.div-border-2 p:nth-of-type(2) {
    @include heading($font-regular,14px,$wight);
    margin: 0;
    cursor: pointer;
}




// Main-footer
.main-footer {
    padding-top: 270px;
    padding-bottom: 70px;
}
article.maim-05 {
    max-width: 615px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
article.maim-05 h5 {
    @include heading($font-regular,15px,$prime-1);
    margin-bottom: 20px;
}
article.maim-05 h2 {
    @include heading($font-medium,33px,$pr-4-dark-2);
    margin-top: 20px;
    margin-bottom: 30px;
}
article.maim-05 div>i {
    margin: 0 auto;
}

.sprite-face {
    width: 60px;
    height: 60px;
    background-position: -5px -587px;
}
article.maim-05 p:nth-of-type(1) {
    @include heading($font-light,14px,$pr-4-dark-1);
    margin-top: 25px;
    margin-bottom: 30px;
}
article.maim-05 p:nth-of-type(2) {
    margin: 0;
}
article.maim-05 p a {
    @include heading($font-semiBold,17px,$prime-1);
}
article.maim-05 p:nth-of-type(3) {
    @include heading($font-light,13px,$pr-4-light-1);
    margin-top: 10px;
    margin-bottom: 0;
}

article.maim-05::before {
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    border-bottom: 2px solid $prime-1;
    border-left: 2px solid $prime-1;
    transform: rotate(45deg);
    position: absolute;
    top: 175px;
    left: -276px;

   
}
article.maim-05::after {
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    border-bottom: 2px solid $prime-1;
    border-right: 2px solid $prime-1;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 175px;
    right: -276px;
}


// Adaptation Program_main

// lg
@media (max-width:1024px) {
    div.main-program img.rocket {
        top: 88px;
    }
    div.div-border img {
        right: -47px;
    }
    article.maim-05::before {
        content: "";
        left: -150px;
    }
    article.maim-05::after {
        content: "";
        right: -150px;
    }
}

// table
@media (max-width:950px) and (min-width:340px) {
    .main-program {
        background-position: bottom,  30px 45px, right 10px top 30px;
        padding-bottom: 30px;
    }
    div.main-program img.rocket {
        top: 30px;
    }
    div.text-center p {
        margin-bottom: 40px;
    }
    // wight
    div.section-center {
        width: 100%;
        position: static;
    }
    section.block-program {
        display: block;
        position: static;
        box-shadow: 0px 5px 6px -3px $pr-1-dark-2;
    }
    article.block-wight {
        grid-template-columns: repeat(4,1fr);
        padding: 30px 20px;
    }
    article.block-wight div:nth-child(1) {
        padding: 10px 40px;
        border-bottom: none;
    }
    article.block-wight div:nth-child(2) {
        padding: 10px 40px;
        border-bottom: none;
        border-right: 1px solid $pr-4-light-2;
    }
    article.block-wight div:nth-child(3) {
        padding: 10px 40px;
    }
    article.block-wight div:nth-child(4) {
        padding: 10px 40px;
    }
    // blue
    div.div-border img  {
        right: 0;
    }
    // main-footer
    article.maim-05 h5 {
        margin-top: 0;
    }
    .main-footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    article.maim-05::before {
        content: "";
        left: -48px;
    }
    article.maim-05::after {
        content: "";
        right: -48px;
    }
}

// mobile
@media (max-width:340px) {
    .main-program {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main-program {
        background-position: bottom,  30px 45px, right 13px top 145px;
    }
    div.main-program img.rocket {
        width: 100px;
        top: 126px;
        left: 11px;
    }
    div.text-center p {
        margin-bottom: 25px;
    }
    // wight
    div.section-center {
        width: 100%;
        position: static;
    }
    section.block-program {
        display: block;
        position: static;
        box-shadow: 0px 5px 6px -3px $pr-1-dark-2;
    }
    article.block-wight {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }
    article.block-wight div:nth-child(1) {
        padding: 10px 40px;
        border-right: none;
    }
    article.block-wight div:nth-child(2) {
        padding: 20px 40px;

    }
    article.block-wight div:nth-child(3) {
        padding: 20px 40px;
        border-right: none;
        border-bottom: 1px solid $pr-4-light-2;
    }
    article.block-wight div:nth-child(4) {
        padding: 20px 40px 10px;
    }
    article.block-wight p:nth-child(1) {
        font-size: 55px;
        line-height: 43px;
    }
    article.block-wight p:nth-child(2){
        @include heading($font-regular,20px,$pr-4-light-1);
        text-align: center;
        margin-bottom: 0;
    }
    article.block-wight p:nth-child(3) {
        @include heading($font-semiBold,25px,$prime-1);
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    // blue
    div.div-border h3 {
        font-size: 20px;
    }
    article.block-blue {
        padding: 20px 10px;
    }
    div.div-border{
        padding: 20px 10px 30px;
    }
    div.div-border-2 {
        padding: 20px 5px;
    }
    div.div-border img:last-child {
        width: 78px;
        right: -10px;
        bottom: 69px;
    }

    // main-footer
    .main-footer {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    article.maim-05 h5 {
        font-size: 11px;
        margin-top: 0;
    }
    article.maim-05 h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    article.maim-05 p:nth-of-type(1) {
        margin-top: 45px;
        margin-bottom: 50px;
    }
    article.maim-05::before {
        content: "";
        width: 30px;
        height: 30px;
        left: 128px;
        top: 239px;
        transform: rotate(135deg);
    }
    article.maim-05::after {
        content: "";
        width: 30px;
        height: 30px;
        right: 128px;
        bottom: 85px;
        transform: rotate(45deg);
    }
}