<!-- <header> -->
    <div class="container-fluid bg-banner">
        <div class="container">
            <div class="row-banner">
                <h1>BlueEssaySite.net-</h1>
                <h1>expert help for custom Written</h1>
                <hr>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                </p>
                <button>Place an order</button>
                <div class="img-girl">
                    <img src="assets/img/img_girl1.png" alt="">
                </div>
            </div>
        </div>

        <section class="banner-input">
            <div>
                <!-- <label for="user_name">Dropdown normal</label> -->
                <label class="lable-2" for="">Type of paper</label><br>
                <div class="select-banner">
                    <select>
                        <option>Placeholder text</option>
                        <option>Here's an option</option>
                        <option>Another option1</option>
                        <option>Another option2</option>
                        <option>Another optio3</option>
                        <option>Another optio4</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
            </div>
            <div>
                <!-- <label for="user_name">Dropdown normal</label> -->
                <label class="lable-2" for="">Writer level</label><br>
                <div class="select-banner">
                    <select>
                        <option>High school</option>
                        <option>Here's an option</option>
                        <option>Another option1</option>
                        <option>Another option2</option>
                        <option>Another optio3</option>
                        <option>Another optio4</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
            </div>
            <div>
                    <!-- <label for="user_name">Dropdown normal</label> -->
                <label class="lable-2" for="">Urgency</label><br>
                <div class="select-banner">
                    <select>
                        <option>21 days</option>
                        <option>Here's an option</option>
                        <option>Another option1</option>
                        <option>Another option2</option>
                        <option>Another optio3</option>
                        <option>Another optio4</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
            </div>

            <div>
                <!-- <label for="user_name">Dropdown normal</label> -->

                <label class="lable-2" for="">Number of pages</label><br>
            
                <div class="pagination">
                    <a href="#">&#8722;</a>
                    
                    <a href="#" class="active bg-a">2</a>
                    
                    <a href="#">+</a>
                </div>
            </div>
            <div>
                <button>Continue</button>
            </div>
        </section>
    </div>
<!-- </header> -->