<footer>
    <div class="container-fluid bg-footer">
        <div class="container">
            <div class="row-footer">
                
                        <img src="assets/img/icon-logo12.png" alt="logo">
                    <h1>
                        <a class="img-a" href="#">Blue<span class="logo-color">essay</span>site.net</a>
                        <span class="logo-p">Providing Custom Writing Services</span>
                    </h1>
                
                <nav class="footer-list">
                    <ul>                          
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Order now</a></li>
                        <li><a href="#">Order now</a></li>
                        <li><a href="#">Disclaime</a></li>
                        <li><a href="#">Why us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </nav>

            </div>

            <div class="row-footer-list">
                <section>
                    <h4>Section number1</h4>
                    <ul>
                        <li><a href="#">But I must explain to you how</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                        <li><a href="#">Account of the system</a></li>
                        <li><a href="#">Great explorer of the truth</a></li>
                        <li><a href="#">No one rejects, dislikes</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                    </ul>
                </section>
                <section>
                    <h4>Section number2</h4>
                    <ul>
                        <li><a href="#">But I must explain to you how</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                        <li><a href="#">Account of the system</a></li>
                        <li><a href="#">Great explorer of the truth</a></li>
                        <li><a href="#">No one rejects, dislikes</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                    </ul>
                </section>
                <section>
                    <h4>Section number3</h4>
                    <ul>
                        <li><a href="#">But I must explain to you how</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                        <li><a href="#">Account of the system</a></li>
                        <li><a href="#">Great explorer of the truth</a></li>
                        <li><a href="#">No one rejects, dislikes</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                    </ul>
                </section>
                <section>
                    <h4>Section number4</h4>
                    <ul>
                        <li><a href="#">But I must explain to you how</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                        <li><a href="#">Account of the system</a></li>
                        <li><a href="#">Great explorer of the truth</a></li>
                        <li><a href="#">No one rejects, dislikes</a></li>
                        <li><a href="#">Mistaken idea of denouncing</a></li>
                        <li><a href="#">Praising pain was born</a></li>
                    </ul>
                </section>
            </div>
            <div class="row-info">
                <section>
                    <p>Copyright В© 2017 BlueEssaySite.net</p>
                    <p>All rights reserved.</p>
                </section>
                <section>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                    <i class="fa-brands fa-google-plus-g"></i>
                </section>
                <section>
                    <i class="fa-solid fa-phone"></i>
                    <div>
                        <p>Toll free:</p>
                        <p class="text-strong"><a href="#">+ 3 044 111 2732</a></p>
                    </div>
                </section>
                <section>
                    <i class="fa-solid fa-envelope-open"></i>
                    <div>
                        <p>Email:</p>
                        <p><a href="#">blueessaysite@gmail.com</a></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer>