<header>
  <div class="container-fluid bg-top-header">
    <div class="container">
      <div class="row">
          <img src="assets/img/icon-logo12.png" alt="logo">
            <h1>
              <a class="img-a" href="#">Blue<span class="logo-color">essay</span>site.net</a>
                <span class="logo-p">Providing Custom Writing Services</span>
            </h1>

            <nav>    
                <!-- <ul>
                    <li><a href="#">Services<span></span></a></li>
                    <li><a href="#">About us<span></span></a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a class="qwe" href="#"><i class="fa-solid fa-phone"></i></a></li>
                </ul> -->
                <div class="select">
                  <select>
                      <option>Services</option>
                      <option>Hello 1</option>
                      <option>Hello 2</option>
                      <option>Hello 3</option>
                      <option>Hello 4</option>
                  </select>
                  <div class="select_arrow-heder">
                  </div>
                </div>
              <div class="select">
                <select>
                    <option>About us</option>
                    <option>Hello 1</option>
                    <option>Hello 2</option>
                    <option>Hello 3</option>
                    <option>Hello 4</option>
                </select>
                <div class="select_arrow-heder">
                </div>
              </div>
          
              <a href="#">How it works </a>
              <!-- <a class="qwe" href="#"><i class="fa-solid fa-phone"></i> -->
              <i class="fa-solid fa-phone"></i> 
                
            </nav>
            <div class="top-button">
                <button>Sign in</button>
                <button class="but-2">Order</button>
                <ul>
                  <li>
                    <span class="burger-icon"></span>
                  </li>
              </ul>
            </div>
            
      </div>
    </div>
  </div>

    <div class="mobile-header-btn">
      <button>Sign in</button>
      <button class="but-2">Order</button>
    </div>

</header>