<header>
  <div class="container-fluid bg-top-header">
    <div class="container">
        <div class="row">
          <img src="assets/img/icon-logo12.png" alt="logo">
            <h1>
              <a class="img-a" href="#">Blue<span class="logo-color">essay</span>site.net</a>
                <span class="qweq">Providing Custom Writing Services</span>
            </h1>
            

            <nav>    
                <ul>
                    <li><a href="#">Services<span></span></a></li>
                    <li><a href="#">About us<span></span></a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a class="qwe" href="#"><i class="fa-solid fa-phone"></i></a></li>
                </ul>
                
            </nav>
            <div class="top-button">
                <button>Sign in</button>
                <button class="but-2">Order</button>
            </div>
        </div>

    </div>
</div>

</header>