<header>
    <h1>Lorem ipsum dolor </h1>
    <h2>Lorem ipsum dolor </h2>
    <h3>Lorem ipsum dolor </h3>
    <h4>Lorem ipsum dolor </h4>
    <h5>Lorem ipsum dolor </h5>
    <h6>Lorem ipsum dolor </h6>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, nemo labore placeat dolorem, explicabo aut officiis nihil dolor eveniet laudantium ducimus nam obcaecati repudiandae ullam hic? Voluptatibus a inventore deserunt!</p>

    <ul class="list-style-1">
        <li>Lorem ipsum dolor sit.</li>
        <li>Impedit voluptatem harum corporis.</li>
        <li>Eveniet nostrum in voluptatum.</li>
        <li>Ducimus aliquam libero explicabo!</li>
        <li>Explicabo quod delectus nobis.</li>
        <li>Vero magnam labore architecto.</li>
    </ul>

    <div class="quotation">
        <p>On the other hand, we denounce with righteous indignation and disloke men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and</p>
      </div>

      <div class="buttons">

        <button>BTN1</button>
        <button>BTN1</button>
        <button>BTN1</button>
        <button>BTN1</button>
        <button>BTN1</button>
        <button disabled>BTN1</button>
        <button disabled>BTN1</button>
        <button disabled>BTN1</button>
        <button disabled>BTN1</button>
        <button disabled>BTN1</button>
  
      </div>

</header>