<main>
    <div class="container-fluid bg-top-main">
        <div class="container">
            <section class="welcom">
                <figure>
                    <img src="assets/img/Welcome-.png" alt="welcome">
                </figure>

                <div>
                    <h5>01  Welcome to Sitename</h5>
                    <h2>Do you need essay help from a good writing service?</h2>
                    <p>If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.</p>
                    <p>Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all sub- ject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.</p>
                </div>
            </section>
        </div>

    </div>

    <div class="container-fluid bg-middle-main">
        <div class="container">
            <h5>02  Our advantages</h5>
            <h2>Advantages of Our Writing Services</h2>

            <!-- mobile script-->
            <section class="mobile-panel">
                <button class="accordion">Professionally-qualified  writing experts</button>
                <div class="panel">
                    <div><i class="sprite sprite-Vector1"></i></div>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>

                <button class="accordion">Commitment to deliver papers by deadline</button>
                <div class="panel">
                    <div><i class="sprite sprite-Vector2"></i></div>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>

                <button class="accordion">Top-quality, at a great price - guaranteed</button>
                <div class="panel">
                    <div><i class="sprite sprite-Vector3"></i></div>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>
            </section>
            <!--  -->


            <section class="services-block">
                <article>
                    <div><i class="sprite sprite-Vector1"></i></div>
                    <h3>Professionally-qualified  writing experts</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </article>
                <article>
                    <div><i class="sprite sprite-Vector2"></i></div>
                    <h3>Commitment to deliver papers by deadline</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </article>
                <article>
                    <div><i class="sprite sprite-Vector3"></i></div>
                    <h3>Top-quality, at a great price - guaranteed</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </article>
            </section>
            <div class="order">
                <button>Place an order</button>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-bottom-main">
        <div class="container">
            <h5>03  How it works</h5>
            <h2>Our Simple 4-Step Procedure</h2>
            <section class="step-procedure">
                <article>
                    <div><i class="sprite sprite-Step1"></i></div>
                    <h3>Step 1</h3>
                    <p>Complete the short order form to buy a paper from our easy essay writing servise</p>
                </article>
                <article>
                    <div><i class="sprite sprite-Step2"></i></div>
                    <h3>Step 2</h3>
                    <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want</p>
                    <img class="line-border line-1" src="assets/img/line.png" alt="line">
                </article>
                <article>
                    <div><i class="sprite sprite-Step3"></i></div>
                    <h3>Step 3</h3>
                    <p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standart</p>
                    <img class="line-border line-1" src="assets/img/line.png" alt="line">
                </article>
                <article>
                    <div><i class="sprite sprite-Step4"></i></div>
                    <h3>Step 4</h3>
                    <p>The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free0of-charge features.</p>
                    <img class="line-border line-1" src="assets/img/line.png" alt="line">
                </article>
            </section>
        </div>
    </div>

    <div class="container-fluid main-program">
        <div class="container">
            <div class="text-center">
                <h5>04  Discounts</h5>
                <h2>Our discount program</h2>
                <p>By utilizing elements and principles of Material Design, we were <br> able to create a framework that incorporates</p>
            </div>
            <section class="block-program">
                <article class="block-wight">
                    <div>
                        <p>4% <br> OFF</p>
                        <p>for more than</p>
                        <p>15 pages</p>
                    </div>
                    <div>
                        <p>5% <br> OFF</p>
                        <p>for more than</p>
                        <p>20 pages</p>
                    </div>
                    
                    <div>
                        <p class="margin-0">10% <br> OFF</p>
                        <p>for more than</p>
                        <p>50 pages</p>
                    </div>
                    <div>
                        <p class="margin-0">15% <br> OFF</p>
                        <p>for more than</p>
                        <p>100 pages</p>
                    </div>
                </article>
                <article class="block-blue">
                    <div class="div-border">
                        <h3>Try our service & get huge discounts</h3>
                        <div class="div-border-2">
                            <img src="assets/img/scissors.png" alt="scissors">
                            <img src="assets/img/stars.png" alt="stars">
                            <span>get</span>
                            <p>15% OFF</p>
                            <p>for your 1st order</p>
                        </div>
                        <p>Use <span>discount15</span> as discount code</p>
                        <img src="assets/img/Balloon.png" alt="balloon">
                    </div>
                </article>
            </section>
        </div>
    </div>

    <!-- script -->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
        </script>
    <!--  -->
</main>